.botones > .btn-primary {
    margin-right: 10px !important;
}

.titule {
    color: rgb(126, 93, 2);
    padding: 30px;
    background-image: url("madera.jpeg");
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image {
    background-image: url("nota.png");
    background-size: cover;
    border-radius: 5px;
}

.card-title {
    color: rgb(20, 20, 20);
}

.card-text {
    color: rgb(20, 20, 20);
}
